
%h1 Liste des intérimaires

=render 'shared/search'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        \#
        %i.icon-chevron-down
      %th 
        Nom
        %i.icon-chevron-up
      %th Prénom
      %th Tél
      %th Email
      %th Qualifications
      %th Mobilité
      %th Localisation
      %th Niveau d'expérience
      %th Entreprises déléguées
  %tbody
    -5.times do 
      %tr
        %td #
        %td Nom
        %td Prénom
        %td Tél
        %td Email
        %td Qualifications
        %td Mobilité
        %td Localisation
        %td Niveau d'expérience
        %td Entreprises déléguées


%br

=render "employees/paginate"



/ -        Nom/Prénom
/ -        Num de téléphone
/ -        Mail
/ -        Qualification principale
/ -        Qualification secondaire
/ -        Qualification tertiaire
/ -        Qualification 4 (loul)
/ -        Situation géographique
/ -        Mobilité
/ -        Niveau d’expérience
/ -        Entreprises déléguées