
%h1 Liste des intérimaires

=render 'shared/search'

#employees
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th.span1.sortable
          \#
          %i.icon-chevron-down.pull-right
        %th.span3.sortable
          Nom
          %i.icon-chevron-down.pull-right
        %th.span5 Qualifications
        %th.span1 Expérience
        %th.span1.sortable
          Status
          %i.icon-chevron-down.pull-right
        %th.span1
          %a.pull-right{href: "#"}
            %i.icon-resize-small
    %tbody
      -10.times do |i|
        %tr.small
          %td #
          %td Geoffrey BOTIN
          %td Qualification 1, Qualification 2, Qualification 3...
          %td +5 ans
          %td
            %span.label.label-success{'data-placement' => 'top', 'data-trigger' => 'hover', 'data-title' => 'Dernière mise à jour', 'data-content' => "#{l Time.now, :format => :short} (#{time_ago_in_words(Time.now - 30.days)})"} Disponible
          %td
            %a.pull-right{href: "#"}
              %i.icon-resize-full
        %tr.expanded.hide
          %td #
          %td{colspan: 5}
            .row-fluid

              .span5


                %h5 Contact
                %ul
                  %li 
                    %i.icon-user
                    Geoffrey BOTIN
                  %li 
                    %i.icon-bullhorn
                    06 32 35 34 80
                  %li 
                    %i.icon-envelope
                    geoffrey.botin@gmail.com
                %hr
                
                
                .btn-group.pull-right{"data-toggle" => "buttons-radio"}
                  %button.btn.btn-mini.active
                    %i.icon-ok
                  %button.btn.btn-mini
                    %i.icon-ban-circle
                  %button.btn.btn-mini
                    %i.icon-question-sign
                %h5 Disponibilité
                
                %p
                  Dernière actualisation : #{l Time.now, :format => :short}
                %hr


                
                %h5 Qualifications
                %ul
                  %li
                    %i.icon-cog
                    +5 ans d'expérience
                  %li 
                    %i.icon-tag
                    Qualification principale
                  %li 
                    %i.icon-tag
                    Qualification secondaire
                  %li 
                    %i.icon-tag
                    Qualification tertiaire
                  %li 
                    %i.icon-tag
                    Autre
                %hr


                %h5 Entreprises déléguées
                %ul
                  %li 
                    %i.icon-briefcase
                    Entreprise
                  %li 
                    %i.icon-briefcase
                    Entreprise
                  %li 
                    %i.icon-briefcase
                    Entreprise
                  %li 
                    %i.icon-briefcase
                    Entreprise
                

          
              .span7
                %a.pull-right{href: "#"}
                  %i.icon-resize-small
                
                %h5 Localisation
                .thumbnail
                  .map{id: "map-#{i}"}

                %br

                %h5 Mobilité
                %ul
                  %li 
                    %i.icon-home
                    165 Avenue de Bretagne, Euratechnologies, Lille - 59000
                  %li
                    %i.icon-road
                    Transports en commun


            .form-actions
              .pull-right
                %a.btn.btn-primary{href: '#'} Éditer
                %a.btn.btn-danger{href: '#'} Supprimer



  %br

  =render "employees/paginate"

