
%h1 Liste des intérimaires

=render 'shared/search'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th
        \#
        %i.icon-chevron-down
      %th 
        Nom
        %i.icon-chevron-up
      %th Prénom
      %th Qualification
      %th Mobilité
      %th Localisation
  %tbody
    %tr
      %td #
      %td Nom
      %td Prénom
      %td Qualification
      %td Permis
      %td Localisation
    %tr
      %td #
      %td Nom
      %td Prénom
      %td Qualification
      %td Permis
      %td Localisation
    %tr
      %td #
      %td Nom
      %td Prénom
      %td Qualification
      %td Permis
      %td Localisation
    %tr
      %td #
      %td Nom
      %td Prénom
      %td Qualification
      %td Permis
      %td Localisation

%br

=render "employees/paginate"



/ -        Nom/Prénom
/ -        Num de téléphone
/ -        Mail
/ -        Qualification principale
/ -        Qualification secondaire
/ -        Qualification tertiaire
/ -        Qualification 4 (loul)
/ -        Situation géographique
/ -        Mobilité
/ -        Niveau d’expérience
/ -        Entreprises déléguées