%form#search.form-inline{role: 'form'}
  %fieldset
    
    .row
      .form-group.col-md-2
        %input.form-control{type: "text", placeholder: "Nom"}

      .form-group.col-md-2
        %input.form-control{type: "text", placeholder: "Qualifications"}
        
      .form-group.col-md-3
        %select.form-control
          %option{selected: true} Mobilité
          %option Transports en commun
          %option Deux-roues motorisé
          %option Permis et Véhicule

      .form-group.col-md-5
        .input-group.col-md-5
          %label.input-group-addon A
          %input.form-control{type: "number", min: 0, value: 0}
          %label.input-group-addon km

        .input-group.col-md-5
          %label.input-group-addon De
          %input.form-control{type: "text", placeholder: "Localisation"}
      
      
        %button.btn.btn-default.col-md-1.pull-right{type: "submit"}
          %span.glyphicon.glyphicon-arrow-right