input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


tr.expanded{
	ul{
		margin-left: 0;
		li{
			list-style-type: none;
		}
	}
	
	h5{
		margin-top: 0;
	}
	&:hover > td{
		background: none !important;
	}
}
	