input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.popover .popover-title{
  font-weight: bold;
  span{
    line-height: 15px;
  }
}

thead tr th{
  background: #eeeeee;

  &.sortable{
    cursor: pointer;
    &:hover{
      background: #E7E7E7;
    }
  }

  span.glyphicon{
    line-height: 20px;
  }
}


tr.expanded{

  background: whitesmoke;

  ul{
    padding-left: 0;
    li{
      list-style-type: none;
    }
  }
  
  h5{
    margin-top: 0;
  }
  &:hover > td{
    background: none !important;
  }
}

tr.collapsed td {

  &.center{
    text-align: center;
  }

  .label{
    font-size: 100%;
    &:hover{
      cursor: pointer;
    }
  }
}

  

.map{
  height: 250px;

  img {
    max-width: none;
  }
}