input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


thead tr th{
	background: #eeeeee;

	&.sortable{
		cursor: pointer;
		&:hover{
			background: #E7E7E7;
		}
	}
}

.popover-title{
	font-weight: bold;
}

tr.expanded{

	background: whitesmoke;

	ul{
		margin-left: 0;
		li{
			list-style-type: none;
		}
	}
	
	h5{
		margin-top: 0;
	}
	&:hover > td{
		background: none !important;
	}
}

tr.small .label:hover{
	cursor: pointer;
}
	
.map{
	height: 250px;

	img {
	  max-width: none;
	}
}